@import url(grid-system.css);

body {
  color: #4C4C4C;
  background-color: #FFFFFF;
}

h1 {
  font-size: 5rem;
  margin-bottom: 0.1em;
}

h2 {
  font-size: 3rem;
  margin-top: 0.1em;
}

h3 {
  font-size: 1.75rem;
}

#navbar {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.about-me {
  background-color: #3626A7;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 18rem;
  color: #FFFFFF !important;
}

.hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #333447;
    border-bottom: 0.2em solid #333447;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #333447;
}

.navbar-link-toggle {
  display: none;
}

.nav-brand {
  font-size: 1.75rem !important;
}

.nav-links-right {
  margin-left: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 1rem;
  font-size: 1.25rem;
}

.sub-text {
  font-size: 1.3rem;
  width: 50%;
  margin: 0 auto;
}

.tech .sub-text {
  width: 66%;
}

.tech {
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 70%;
  margin-top: -7rem;
  margin-left: ;
  z-index: 2;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  border: 1px solid #DBDBDB;
}

.vertical-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (max-width: 768px) {

  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  .about-me p {
    font-size: 1.5rem;
    width: 85%;
    margin: 0 auto;
  }

  .hero-section {
    height: 45vh;
  }

  .nav-links, #navbar {
    flex-direction: column;
  }

  .navbar-link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }

  .nav-links {
    display: none;
  }

  .nav-links-right {
    margin-left: 0;
  }
}

@media only screen and (max-width: 425px) {
  .tech {
    width: 90%;
  }
}

@media only screen and (max-width: 375px) {
  .tech {
    width: 90%;
  }
}

@media only screen and (max-width: 320px) {

  h1 {
    font-size: 2.75rem;
    margin-bottom: 0.1em;
  }

  h2 {
    font-size: 1.75rem;
    margin-top: 0.1em;
  }

  .about-me {
    padding-top: 3rem;
    padding-bottom: 12rem;
  }

  .tech {
    width: 90%;
  }

}
