@import url(grid-system.css);


body {
  color: #4C4C4C;
  background-color: #FFFFFF;
  letter-spacing: 0.15rem;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.1em;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  margin-top: 0.1em;
  font-weight: 400;
}

h3 {
  font-size: 1.75rem;
}

#navbar {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding-top: 1rem;
}

.accent {
  background-color: #E86F5C;
  display: inline-block;
  position: absolute;
  z-index: -1;
  height: 12px;
  width: 55px;
  margin-top: 70px;
  margin-left: 10px;
}

.about-me {
  background-color: #789174;
  padding-bottom: 18rem;
  padding-top: 2rem;
  color: #FFFFFF !important;
  z-index: 5 !important;
}

.button-bordered {
  border: 2px solid #789174;
  color: #789174;
  border-radius: 4px;
  padding: 0.5rem 1rem !important;
  -webkit-transition: background-color 0.8s ease-out;
  -moz-transition: background-color 0.8s ease-out;
  -o-transition: background-color 0.8s ease-out;
  transition: background-color 0.8s ease-out;
}

.button-bordered:hover {
  background-color: #789174;
  color: #FFFFFF;
  cursor: pointer;
}

.hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #333447;
    border-bottom: 0.2em solid #333447;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #333447;
}

.header {
  text-align: center;
}

.hero-section {
  padding-bottom: 3rem;
}

.icon h3 {
  margin-top: 0;
}

.icon-section {
  padding-bottom: 5rem;
}

.icon-section .row {
  padding-top: 3rem;
}

.my-projects {
  text-align: center;
}

.navbar-link-toggle {
  display: none;
}

.nav-brand {
  font-size: 1.75rem !important;
  font-weight: 500;
}

.nav-links-right {
  margin-left: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 1rem;
  font-size: 1.25rem;
}

.sub-text {
  font-size: 1.3rem;
  width: 55%;
  margin: 0 auto;
  text-align: center;
}

.tech .sub-text {
  width: 66%;
}

.tech {
  background-color: #FFFFFF;
  border-radius: 4px;
  width: 60%;
  margin: 0 auto;
  margin-top: -7rem;
  z-index: 2 !important;
  text-align: center;
  border: 1px solid #DBDBDB;
  padding-top: 2rem;
}

.vertical-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (max-width: 768px) {

  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  .about-me {
    padding-bottom: 14rem;
  }

  .sub-text {
    font-size: 1.5rem;
    width: 85%;
    margin: 0 auto;
  }

  .hero-section {
    height: 45vh;
  }

  .nav-links, #navbar {
    flex-direction: column;
  }

  .navbar-link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }

  .nav-links {
    display: none;
  }

  .nav-links-right {
    margin-left: 0;
  }

  .tech {
    width: 90%;
  }

  .tech .sub-text {
    width: 85%;
  }

}

@media only screen and (max-width: 425px) {
  .tech {
    width: 80%;
  }
}

@media only screen and (max-width: 375px) {
  .tech {
    width: 80%;
  }
}

@media only screen and (max-width: 320px) {

  h1 {
    font-size: 2.75rem;
    margin-bottom: 0.1em;
  }

  h2 {
    font-size: 1.75rem;
    margin-top: 0.1em;
  }

  .about-me {
    padding-top: 3rem;
    padding-bottom: 12rem;
  }

  .sub-text {
    font-size: 1.3rem
  }

  .tech {
    width: 80%;
  }

}
