/* UNIVERSAL */

body {
  color: #272838;
  background-color: #FFFFFF;
  letter-spacing: 0.15rem;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

/* ROOT FONT STYLES */

* {
  font-family: 'Catamaran', 'Helvetica', sans-serif;
  line-height: 1.5;
}

/* TYPOGRAPHY */


/* ============================== */

button {
  background-color: inherit;
  font-size: 1.25rem;
  font-family: 'Catamaran', 'Helvetica', sans-serif;
  letter-spacing: 0.15rem;
  color: #FFFFFF !important;
  background-color: #0F3082;
  cursor: pointer;
}

button:focus {
  outline: none;
}

h1 {
  font-size: 3.75rem;
  margin-bottom: 0px;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  margin-top: 0.1em;
  font-weight: 400;
  font-family: 'Lato', 'Helvetica', sans-serif;
  letter-spacing: 0.1rem;
}

h3 {
  margin-block-end: 0.5em;
  font-weight: bold;
}

input {
  width: 45%;
  padding: 0.75rem;
  border-radius: 4px;
  margin-bottom: 0.33rem;
  border: none;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
}

input:focus, select:focus, textarea:focus {
  outline-color: #EF0D33;
}

textarea {
  width: 45.5%;
  height: 10rem;
  padding: 0.5rem;
  border-radius: 4px;
  resize: none;
  border: none;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
  margin-bottom: 0.33rem;
}

#navbar {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding-top: 0.5rem;
}

.about-me {
  padding-bottom: 4rem;
  color: #FFFFFF !important;
  position: relative;
  text-align: center;
}

.about-me .row {
  padding-top: 4rem;
}

.about-text {
  font-size: 1.2rem;
  font-family: 'Lato', 'Helvetica', sans-serif;
  letter-spacing: 0.05rem;
  width: 66%;
  margin: 0 auto;
}

.about-title {
  font-size: 2.5rem !important;
}

button, .button-bordered {
  border: 2px solid #0F3082;
  color: #0F3082;
  border-radius: 4px;
  padding: 0.5rem 1rem !important;
  -webkit-transition: background-color 0.8s ease-out;
  -moz-transition: background-color 0.8s ease-out;
  -o-transition: background-color 0.8s ease-out;
  transition: background-color 0.8s ease-out;
}

.button-bordered:hover {
  background-color: #0F3082;
  color: #FFFFFF;
  cursor: pointer;
}

.button-bordered-secondary {
  border: 2px solid #EF0D33;
  color: #EF0D33;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  -webkit-transition: background-color 0.8s ease-out;
  -moz-transition: background-color 0.8s ease-out;
  -o-transition: background-color 0.8s ease-out;
  transition: background-color 0.8s ease-out;
  font-size: 1.25rem;
}

.button-bordered-secondary:hover {
  background-color: #EF0D33;
  color: #FFFFFF;
  cursor: pointer;
}

.button-holder {
  margin-top: 5rem;
}

.contact-me {
  position: relative;
  text-align: center;
  padding-bottom: 10rem;
}

.footer {
  padding-top: 3rem;
  text-align: center;
  padding-bottom: 5rem;
  border-top: 1px solid #DBDBDB;
}

.footer-text {
  letter-spacing: 0.05rem;
  font-family: 'Lato', 'Helvetica', sans-serif;
  text-align: center;
  font-size: 0.9rem;
}

.form-area {
  padding-top: 2.5rem;
}

.hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #333447;
    border-bottom: 0.2em solid #333447;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #333447;
}

.header {
  font-size: 2rem !important;
}

.hero-section {
  padding-top: 7rem;
  padding-bottom: 16.5rem;
}

.hide {
  display: none;
}

.image-overlay {
  background-color: rgba(55, 112, 145, .75);
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 4px;
  font-family: "Felipa", sans-serif;
  color: #FFFFFF;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: background-color 0.8s ease-out;
  -moz-transition: background-color 0.8s ease-out;
  -o-transition: background-color 0.8s ease-out;
  transition: background-color 0.8s ease-out;
}

.image-overlay:hover {
  background-color: rgba(55, 112, 145, .90);
  cursor: pointer;
  -webkit-transition: background-color 0.8s ease-out;
  -moz-transition: background-color 0.8s ease-out;
  -o-transition: background-color 0.8s ease-out;
  transition: background-color 0.8s ease-out;
}

.mail-link {
  text-decoration: none;
  color: #EF0D33;
}

.my-projects {
  width: 63%;
  margin: 0 auto;
  text-align: center;
  padding-top: 5rem;
}

.navbar-link-toggle {
  display: none;
}

.nav-brand {
  font-size: 1.75rem !important;
  font-weight: 500;
}

.nav-links-right {
  margin-left: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  padding: 1rem;
  font-size: 1.1rem;
}

.nav-link:nth-child(4) {
  margin-left: 0.75rem;
}

.project-holder {
  height: 250px;
  width: 100%;
  background-color: black;
  border-radius: 4px;
  position: relative;
}

.project-holder img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.project-section {
  padding-top: 3rem;
}

.separator {
  background-color: #EF0D33;
  width: 40px;
  height: 8px;
  border-radius: 2px;
  margin:0.25rem 0 1rem 0;
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.slant-down {
  transform: skewY(3deg);
  transform-origin: top left;
  background-color: inherit;
  width: 100%;
  height: 90%;
  position: absolute;
  background-color: #001064;
  z-index: -2;
  padding-top: 12rem;
}

.slant-left-arrow {
  transform: skewY(4deg);
  transform-origin: top center;
  background-color: inherit;
  width: 100%;
  height: 90%;
  position: absolute;
  z-index: -2;
}

.slant-right-arrow {
  transform: skewY(-4deg);
  transform-origin: top center;
  background-color: inherit;
  width: 100%;
  height: 90%;
  position: absolute;
  z-index: -2;
}

.social-icon {
  display:inline-block;
  height: 30px;
  margin: 0 auto;
  padding: 3rem 1rem 0.25rem 1rem;
}

.sub-text {
  font-size: 1.2rem;
  width: 55%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lato', 'Helvetica', sans-serif;
  letter-spacing: 0.05rem;
}

.tech .row {
  padding-top: 3rem;
}

.tech .sub-text {
  width: 66%;
}

.tech {
  background-color: #FFFFFF;
  border-radius: 4px;
  width: 60%;
  margin: 6rem auto 0 auto;
  text-align: center;
  border: 1px solid #DBDBDB;
  padding-bottom: 5rem;
}

.testimonials {
  text-align: center;
  margin-top: 15rem;
  padding-bottom: 10rem;
}

.testimonial-photo {
  width: 100px;
  height: 100px;
  background-color: gray;
  margin: 2rem auto 0 auto;
}

.vertical-center{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* === Media Queries ===*/

@media only screen and (max-width: 768px) {

  h1 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  .about-me {
    padding-bottom: 14rem;
  }

  .sub-text {
    font-size: 1.5rem;
    width: 85%;
    margin: 0 auto;
  }

  .nav-links, #navbar {
    flex-direction: column;
  }

  .navbar-link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }

  .nav-links {
    display: none;
  }

  .nav-links-right {
    margin-left: 0;
  }

  .tech {
    width: 90%;
  }

  .tech .sub-text {
    width: 85%;
  }

}

@media only screen and (max-width: 425px) {
  .tech {
    width: 80%;
  }
}

@media only screen and (max-width: 375px) {
  .tech {
    width: 80%;
  }

  .hamburger {
    margin: 0.75rem 0 0 0;
  }
}

@media only screen and (max-width: 320px) {

  h1 {
    font-size: 2.75rem;
    margin-bottom: 0.1em;
  }

  h2 {
    font-size: 1.75rem;
    margin-top: 0.1em;
  }

  .about-me {
    padding-top: 3rem;
    padding-bottom: 12rem;
  }

  .accent {
    display: inline-block;
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    border-top: 150px solid transparent;
    border-right: 200px solid #E86F5C;
    border-bottom: 150px solid transparent;
    transform: rotate(75deg);
    top: -25px;
    left: 10px;
  }

  .contact-me {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  .content {
    margin-top: 0;
  }

  .form-area {
    padding-top: 1rem;
  }

  .hamburger {
    margin: 0.75rem 0 0 0;
  }

  .header {
    font-size: 1.6rem !important;
  }

  .my-projects {
    width: 90%;
    padding-top: 2rem;
  }

  .nav-link {
    padding-left: 0;
    padding-top: 0.5rem;
  }

  .row:nth-child(2) {
    padding-top: 0;
  }

  .sub-text {
    font-size: 1rem;
  }

  .tech {
    width: 90%;
  }
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 540px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 720px) {
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 960px) {
  .container {
    width: 75%;
    max-width: 65rem;
  }
}
